.racer_table td {
  text-align: center;
  background-color: white;
  height: 200px;
  width: 50px;
  display: inline-table;
  background-color: tomato;
  border-color: tomato;
  color: tomato;
}

.racer_table td.active {
  background-color: black;
  border-color: black;
}

img {
  height: 200px;
  width: 200px;
}