<h1>Sign Up</h1>

<form action="/create_user" method="Post">
User Name 1: <input type="username" name="username1">
User Name 2: <input type="username" name="username2">
<input type="submit" value="submit" id="submit">
</form>

<button id="submit" onclick="window.location.href='/'">home</button>