<h1>Sign Up</h1>

<form action="/create_user" method="Post">
Nelsoul: <input type="username" name="player1">
Jaaaake: <input type="username" name="player2">
<input type="submit" value="submit" id="submit">
</form>

<button id="submit" action="/home">home</button>
