<div class="container">


  <form method="POST" action="/home">
    Login name 1: <input type="text" name="login">
    <p><br></p>
    Login name 2: <input type="text" name="login">
    <p><br></p>
    <input type="submit" value="Login!">
    <p><br></p>
  </form>
  <form method="GET" action="/create_user">
<div class="newuser">
<input type="submit" value="Make me a person!" action="/create_user">
</div>
  </form>