<div class="container">

<h1> LOOK AT THESE BEAUTIFUL ASS DRAGONS</h1>
<center><img src="dragon_ass.jpg"></img>


  <form method="POST" action="/home">

    Who loves Nelsol?: <input type="text" name="player1">
    <p><br></p>
    Who loves Jake?: <input type="text" name="player2">
    <p><br></p>
    <input type="submit" value="Dragons!">
    <p><br></p>
  </form>

  <form method="GET" action="/create_user">
    <div class="newuser">
      <input type="submit" value="Make me a person!" action="/create_user">
    </div>

  </form>
